grant codeBase "file:${user.home}/-" {
	permission java.security.AllPermission;
	permission java.util.PropertyPermission "user.dir", "read,write";
};

grant codeBase "${script.classes}/-" {
	permission java.io.FilePermission	"/home","read";
};
