grant codeBase "${safe.classpath}/target/classes/" {
        permission java.security.AllPermission;
};
grant codeBase "${safe.classpath}/target/test-classes/" {
        permission java.security.AllPermission;
};
